<div class ="create-text">
Created An
<% if activity.trackable && activity.trackable.present? %>
  <%= link_to activity.trackable_type, activity.trackable %>
<% else %>
  Event which has since been Cancelled
<% end %>
</div>
