<div class="video-container">
  <video autoplay loop id="video-background" muted plays-inline>
    <source src="/assets/IndoorPartyFootage&Crowd4.mp4" type="video/mp4">
  </video>
</div>


<h1 class="header">Never Miss a Moment!</h1>

<div class="container-fluid" >
 <div class="row align-items-start">
  <div class="col-lg-8" id='event-index'>
    <img class="icons" src="/assets/ticket.png" height="50" alt="">
    <h1> Latest Meetup Requests </h1>
    <div class="box-content2">
  <% @events.reverse.take(20).each do |e| %>
      <a href="/events/<%= e.id %>"><div><%= e.performer %></div></a>
      <hr>
  <% end %>
</div>
</div>
<div class="col">
  <img class="icons" src="/assets/megaphone-10-240.png" height="50" alt="">
  <h1> Social Feed </h1>
  <div class="box-content">
  <% @activities.each do |activity| %>
  <div class="activity">
      <%= link_to activity.owner.username, activity.owner if activity.owner %>
       <%= render_activity activity %>
    </div>
  <hr>
  <% end %>
</div>
</div>
</div>
