<div class="search">
<input type="text" id='search-value' value=''name="" placeholder="search for events" size="40" >

<input type="submit" id='search-submit' value='search'>
</div>


<div id='results'></div>
