<h1>Event#show</h1>
<p>Find me in app/views/event/show.html.erb</p>
<%= @event.performer %>
<% if @event.user_id != current_user.id %>
  <a href="#">Create Match!</a>
<% else %>

<%= link_to 'Delete', event_path, method: :delete,
                       data: { confirm: 'Are you sure?' } %>
<% end %>
