<!-- <h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>
 -->

 <h1>Chat Messages</h1>

 <div id="messages">
 	<%=render @messages %> <!-- this is rendering the message partial in the messages folder -->
 </div>