// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chatwindow
{
  margin: 10px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  height: 600px;
  overflow-x: hidden;

}

h1
{
	text-align: center;
}
